/* .zyx-open-popupimg {
    position: absolute;
    border-radius: 50%;
    z-index: 999999;
    transition: transform 1000ms cubic-bezier(.3, 1, .8, 1), opacity 1000ms ease;
    pointer-events: none;
}
*/

.zyx-expand_circle_ctn {
    position: absolute;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    border-radius: inherit;
}

.zyx-expand_circle {
    position: absolute;
    --maxOpacity: 0.8;
    background-color: white;
    border-radius: 100%;
    animation: expand_circle 600ms ease-in-out forwards;
    aspect-ratio: 1;
    width: 100%;
    contain: content;
}

@keyframes expand_circle {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }

    25% {
        transform: translate(-50%, -50%) scale(1);
        opacity: var(--maxOpacity);
    }

    100% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}