.overdrawRoot {
	--overdrawSize: 5em;
	display: grid;
	place-items: center;
	pointer-events: none;
	position: relative;
	contain: layout;
}

.overdrawPaint {
	position: absolute;
	display: block;
	inset: calc(var(--overdrawSize) * -1);
	contain: strict;
}

.overdrawContainer {
	position: absolute;
	inset: var(--overdrawSize);
	display: grid;
	place-items: center;
	pointer-events: initial;
}
