[aria-label="Timeline: Trending now"]>* {
    opacity: 0;
    transition: opacity 200ms ease;
}

[aria-label="Timeline: Trending now"] {
    height: 100px;
}

[aria-label="Timeline: Trending now"]:hover {
    height: min-content;
}

[aria-label="Timeline: Trending now"]:hover>* {
    opacity: 1;
}

[aria-label="Timeline: Trending now"]::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transition: opacity 200ms ease;
    transform: translate(-50%, -50%);
    font-family: arial;
    font-size: 13px;
    color: #ffffffd4;
    white-space: pre;
    content: "Hover to show \"trending now\"";
    pointer-events: none;
}

[aria-label="Timeline: Trending now"]:hover::after {
    opacity: 0;
}